{% extends "base.html" %}
{% block content %}

<h3 class="light-green-text text-darken-4 center-align">Add Hidden Gem</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_gem') }}">
        <!-- category selection -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-green-text text-darken-4"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Category</label>
            </div>
        </div>
        <!-- Hidden Gem Name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                <input id="gem_name" name="gem_name" minlength="5" maxlength="50" type="text" class="validate" required>
                <label for="gem_name">Hidden Gem Name</label>
            </div>
        </div>
        <!-- Hidden Gem Description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-green-text text-darken-4"></i>
                <textarea id="gem_description" name="gem_description" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="gem_description">Details, Description, Location, Group Size, etc.</label>
            </div>
        </div>
        <!-- Visit or Event Date picker -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix light-green-text text-darken-4"></i>
                <input id="due_date" name="due_date" type="text" class="datepicker validate" required>
                <label for="due_date">Visit date, Event date, etc.</label>
            </div>
        </div>
        <!-- is urgent toggle -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix light-green-text text-darken-4"></i>
                    <label for="is_urgent">
                        <input type="checkbox" id="is_urgent" name="is_urgent">
                        <span class="lever"></span>
                        Is Urgent/Ending Soon
                    </label>
                </div>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-green darken-1 text-shadow">
                    Add Hidden Gem <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}